/* Copyright 2023 the Pinniped contributors. All Rights Reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

html {
    height: 100%;
}

/* The form for this page is styled to be the same as the form from login_form.css */
body {
    font-family: "Metropolis-Light", Helvetica, sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    /* subtle gradient make the login box stand out */
    background: linear-gradient(to top, #f8f8f8, white);
    min-height: 100%;
}

h1 {
    font-size: 20px;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 4px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    width: 400px;
    padding:30px 30px 0;
    margin: 60px 20px 0;
    background: white;
    font-size: 14px;
}

/* Buttons for this page are styled to be the same as the form submit button in login_form.css */
button {
    color: inherit;
    font: inherit;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

.form-field {
    display: flex;
    margin-bottom: 30px;
}

.form-field button {
    width: 100%;
    padding: 1em;
    background-color: #218fcf; /* this is a color from the Pinniped logo :) */
    color: #eee;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

.form-field button:focus, .form-field button:hover {
    background-color: #1abfd3; /* this is a color from the Pinniped logo :) */
}

.form-field button:active {
    transform: scale(.99);
}
