# When you change this file, please consider also changing the .dockerignore file.
# See comments at the top of .dockerignore for more information.

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand
.idea

# MacOS Desktop Services Store
.DS_Store

# Hugo temp file
.hugo_build.lock

# deploy_carvel is an ephemeral directory generated when certain scripts are executed.
# this directory will be created and populated with files that can be applied to a
# kubernetes cluster (specifically kind) in order to deploy Pinniped in an alternative way.
deploy_carvel
