# When you change this file, please consider also changing the .dockerignore file.
# See comments at the top of .dockerignore for more information.

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand
.idea

# MacOS Desktop Services Store
.DS_Store
