# package_repository/packages/{pkg}/ contains specific SHAs of images
# we are using 0.0.0- to indicate dev versions of images
*0.0.0*

# installation artifacts will be generated here
deploy_carvel/deploy/
