<div class="join-the-community">
    <h3>Join the Pinniped community!</h3>
    <p>
        Pinniped is better because of our contributors and maintainers.
        It's because of you that we can bring great software to the community.
    </p>
    <p>
        Connect with the community on <a href="https://github.com/vmware-tanzu/pinniped">GitHub</a>
        and <a href="https://go.pinniped.dev/community/slack">Slack</a>.
    </p>
<!--    <p>-->
<!--        Please join us during our online community meetings, occurring every first and third Thursday of the month at 9 AM PT / 12 PM ET.-->
<!--        Use <a href="https://go.pinniped.dev/community/zoom">this Zoom link</a> to attend and add any agenda items you wish to discuss to <a href="https://go.pinniped.dev/community/agenda">the notes document</a>.-->
<!--    </p>-->
    <p>
        Join our <a href="https://go.pinniped.dev/community/group">Google Group</a> to receive updates and meeting invitations.
    </p>
</div>
