{{ define "main" }}
	<main>
		<article>
			<div class="hero subpage">
				<div class="wrapper">
					<h2 class="h1">Pinniped blog</h2>
				</div>
			</div>
			<div class="wrapper blog">
				<div class="blog-post">
					<h1 class="h2">{{ .Title }}</h1>
					{{ partial "authors" .}}
					<p class="date">{{ dateFormat "Jan 2, 2006" .Date }}</p>
					{{ .Content }}
				</div>
				{{ $related := (where (.Site.RegularPages.Related .) "Type" "posts") | first 3 }}
				{{ with $related }}
					<h2>Related content</h2>
					<div class="grid three">
						{{ range . }}
							{{ partial "blog-post-card.html" . }}
						{{ end }}
					</div>
				{{ end }}
			</div>
		</article>
	</main>
	{{ partial "getting-started" . }}
{{ end }}
