<div class="hero homepage">
	<div class="wrapper">
		<div class="text-block">
			<h2>Pinniped - Simplify user authentication for any Kubernetes cluster: log in once and you’re done.</h2>
			<p>Pinniped delivers a consistent Kubernetes user authentication experience while prioritizing security, interoperability and low-effort management at scale.</p>
			<div class="buttons">
                <a class="button" href="https://github.com/vmware-tanzu/pinniped/blob/main/README.md">Get Started with Pinniped</a>
                <a class="button secondary" href="https://github.com/vmware-tanzu/pinniped/releases">Download Latest Release</a>
            </div>
		</div>
	</div>
</div>