<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/simple.svg" />
				<h3>Simple</h3>
				<p>Easily install on almost any Kubernetes cluster</p>
			</div>
			<div class="card">
				<img src="/img/frictionless.svg" />
				<h3>Frictionless</h3>
				<p>Use native command-line tools like kubectl</p>
			</div>
			<div class="card">
				<img src="/img/seamless.svg" />
				<h3>Seamless</h3>
				<p>Log in once to safely access all your clusters</p>
			</div>
		</div>
	</div>
</div>