<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/simple.svg" />
				<h3>Simple</h3>
				<p>Install and integrate with nearly any cluster in one step</p>
			</div>
			<div class="card">
				<img src="/img/frictionless.svg" />
				<h3>Frictionless</h3>
				<p>Log in once to safely access many clusters</p>
			</div>
			<div class="card">
				<img src="/img/seamless.svg" />
				<h3>Seamless</h3>
				<p>Leverage first class integration with Kubernetes and kubectl CLI</p>
			</div>
		</div>
	</div>
</div>