<div class="team">
    <div class="wrapper">
        <h2>The Pinniped Project Team:</h2>
        <div class="grid three">
            <div class="bio">
                <div class="image"><img src="/img/andrew-keesler.png" /></div>
                <div class="info">
                    <p class="name">Andrew Keesler</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/margo-crawford.png" /></div>
                <div class="info">
                    <p class="name">Margo Crawford</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/matt-moyer.png" /></div>
                <div class="info">
                    <p class="name">Matt Moyer</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/mo-khan.png" /></div>
                <div class="info">
                    <p class="name">Mo Khan</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/nanci-lancaster.png" /></div>
                <div class="info">
                    <p class="name">Nanci Lancaster</p>
                    <p class="position">Community Manager</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/pablo-schuhmacher.png" /></div>
                <div class="info">
                    <p class="name">Pablo Schuhmacher</p>
                    <p class="position">Product Manager</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/ryan-richard.png" /></div>
                <div class="info">
                    <p class="name">Ryan Richard</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
        </div>
        <h3>Contributing:</h3>
        <p>The Pinniped project team welcomes contributions from the community, please see the <a href="https://github.com/vmware-tanzu/pinniped/blob/main/CONTRIBUTING.md">contributor’s guide</a> for more information.</p>
    </div>
</div>