<div class="team">
    <div class="wrapper">
        <h2>The Pinniped Project Team:</h2>
        <div class="grid three">
            <div class="bio">
                <div class="image"><img src="/img/ryan-richard.png" /></div>
                <div class="info">
                    <p class="name">Ryan Richard</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/joshua-casey.png" /></div>
                <div class="info">
                    <p class="name">Joshua Casey</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/ben-petersen.png" /></div>
                <div class="info">
                    <p class="name">Ben Petersen</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
        </div>
        <h3>Contributing:</h3>
        <p>The Pinniped project team welcomes contributions from the community, please see the <a href="https://github.com/vmware-tanzu/pinniped/blob/main/CONTRIBUTING.md">contributor’s guide</a> for more information.</p>
    </div>
</div>
