<div class="wrapper use-cases">
    <h2>Use Cases</h2>
    <div class="grid two">
        <div class="col image">
            <img src="/img/administration.svg" />
        </div>
        <div class="col text">
            <p class="strong">Cluster Administration</p>
            <p>Easily plug in external IDPs into Kubernetes clusters while offering a simple install and configuration experience. Leverage first class integration with Kubernetes and kubectl CLI.</p>
            <!-- <p><a href="#" class="button tertiary">Read More</a></p> -->
        </div>
    </div>
    <div class="grid two image-right">
        <div class="col text">
            <p class="strong">Cluster Administration</p>
            <p>Easily plug in external IDPs into Kubernetes clusters while offering a simple install and configuration experience. Leverage first class integration with Kubernetes and kubectl CLI.</p>
            <!-- <p><a href="#" class="button tertiary">Read More</a></p> -->
        </div>
        <div class="col image">
            <img src="/img/authentication.svg" />
        </div>
    </div>
    <div class="grid two">
        <div class="col image">
            <img src="/img/security.svg" />
        </div>
        <div class="col text">
            <p class="strong">Cluster Administration</p>
            <p>Easily plug in external IDPs into Kubernetes clusters while offering a simple install and configuration experience. Leverage first class integration with Kubernetes and kubectl CLI.</p>
            <!-- <p><a href="#" class="button tertiary">Read More</a></p> -->
        </div>
    </div>
</div>