<div class="wrapper use-cases">
    <h2>Use cases</h2>
    <div class="grid two">
        <div class="col image">
            <img src="/img/administration.svg" />
        </div>
        <div class="col text">
            <p class="strong">Cluster administration</p>
            <p>Easily plug in external identity providers into Kubernetes clusters while offering a simple install and configuration experience. Leverage first class integration with Kubernetes and kubectl command-line.</p>
            <!-- <p><a href="#" class="button tertiary">Read More</a></p> -->
        </div>
    </div>
    <div class="grid two image-right">
        <div class="col text">
            <p class="strong">Seamless authentication</p>
            <p>Give users a consistent, unified login experience across all your clusters, including on-premises and managed cloud environments.</p>
            <!-- <p><a href="#" class="button tertiary">Read More</a></p> -->
        </div>
        <div class="col image">
            <img src="/img/authentication.svg" />
        </div>
    </div>
    <div class="grid two">
        <div class="col image">
            <img src="/img/security.svg" />
        </div>
        <div class="col text">
            <p class="strong">Security for enterprises & teams alike</p>
            <p>Securely integrate with an enterprise IDP using standard protocols or use secure, externally managed identities instead of relying on simple, shared credentials.</p>
            <!-- <p><a href="#" class="button tertiary">Read More</a></p> -->
        </div>
    </div>
</div>